h3 {
    text-align: center;
}

.modal-dialog {
    width: 80%;
}

.score-box {
    border: 1px solid red;
    height: 5rem;
}

.alert-message {
    text-align: center;
}

.timer {
    border: 1px solid yellow;
    font-family: 'Orbitron', 'Courier New', monospace;
    height: 5rem;
}

.timer h3 {
    font-size: 4rem;
}

.word-list {
    border: 1px solid green;
}

.word-list ul {
    height: 24rem;
    overflow: scroll;
    margin: 0;
    list-style: none;
    font-size: 1.5rem;
}

.gameboard {
    margin-bottom: 1rem;
}

.gameboard .col {
    padding: 0;
}

.tile {
    border: 1px solid black;
    width: 4rem;
    text-align: center;
    margin: 0.75rem 0;
    padding: 0.5rem 0;
    font-size: 2rem;
    border-radius: 8px;
}

.left {
    transform: rotate(90deg);
}

.upside-down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(-90deg);
}

#hodgman-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-guess {
    margin-right: 1rem;
}

#guess-button {
    display: inline;
    width: auto;
    margin-left: 1rem;
}

.correct {
    color: green;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.incorrect {
    color: red; 
    animation-name: fadeout;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.hide {
    display: none;
}

@keyframes fadeout {
    0% { opacity: 1}
    100% { opacity: 0 }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1024px;
        /* width: 80%; */
    }
}