:root {
    --dark-blue: rgb(1,1,124);
    --middle-blue: rgb(4,0,248);
    --light-blue: rgb(186,228,230);
    --tan: rgb(237, 201, 160);
    --red: rgb(255,0,0);
}

h3 {
    text-align: center;
}

h5 {
    margin: 0 auto;
}

.btn {
    background-color: var(--dark-blue);
    border-color: var(--middle-blue);
}

.btn:hover {
    background-color: var(--middle-blue);
    border-color: var(--dark-blue);
}

.btn:focus {
    outline-width: 0;
}

.modal-dialog {
    width: 80%;
}

.modal-content {
    border-radius: 1rem;
}

.modal-header {
    background-color: var(--light-blue)
}

.title-text {
    color: var(--middle-blue);
}

.title-text:hover {
    cursor: pointer;
}

.modal-footer {
    background-color: var(--light-blue)
}

.gameboard {
    margin-bottom: 1rem;
}

.letter-row {
    margin-left: 0;
    margin-right: 0;
}

.gameboard .col {
    padding: 0;
}

.tile {
    background-color: var(--tan);
    border: 1px solid black;
    width: 4rem;
    text-align: center;
    margin: 0.75rem 0;
    padding: 0.5rem 0;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 8px;
}

.clicked {
    background-color: var(--light-blue);
}

.tile-col:nth-child(5) > .tile {
    display: inline-block;
}

.left {
    transform: rotate(90deg);
}

.upside-down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(-90deg);
}

#hodgman-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear-entry {
    display: inline;
    width: auto;
    margin-right: 1rem;
}

#user-guess {
    background-color: var(--light-blue);
    margin-right: 0 1rem;
}

#guess-button {
    display: inline;
    width: auto;
    margin-left: 1rem;
}

.timer {
    font-family: 'Orbitron', 'Courier New', monospace;
    height: 5rem;
    border-width: 1px 1px 0 1px;
    border-color: var(--dark-blue);
    border-style: solid;
    border-radius: 5px 5px 0 0;
    background-color: var(--light-blue);
    color: var(--middle-blue);
}

.timer h3 {
    font-size: 4rem;
}

.score-box {
    height: 5rem;
    border-width: 0 1px 0 1px;
    border-color: var(--dark-blue);
    border-style: solid;
    background-color: var(--light-blue);
    color: var(--middle-blue);
    font-family: 'Indie Flower', cursive;
}

.alert-message {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.correct {
    color: var(--dark-blue);
    animation-name: fadeout;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.incorrect {
    color: var(--red);
    animation-name: fadeout;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.hide {
    display: none;
}

.word-list {
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-color: var(--dark-blue);
    border-style: solid;
    background-color: var(--light-blue);
    color: var(--middle-blue);
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.word-list ul {
    padding: 0;
    height: 24rem;
    overflow: scroll;
    margin: 0;
    list-style: none;
    font-size: 1.5rem;
}

#restart-text {
    margin-right: 2rem;
}

@keyframes fadeout {
    0% { opacity: 1}
    100% { opacity: 0 }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1024px;
        /* width: 80%; */
    }
}

@media (max-width: 768px) {
    .tile {
    width: 3rem;
    margin: 0.25rem;
    padding: 0;
    }

    .timer {
        height: 3rem;
    }

    .timer h3 {
        font-size: 2rem;
    }
}