.gameboard .col {
    padding: 0;
}

.tile {
    border: 1px solid black;
    width: 4rem;
    text-align: center;
    margin: 0.75rem 0;
    padding: 0.5rem 0;
    font-size: 2rem;
    border-radius: 8px;
}

.left {
    transform: rotate(90deg);
}

.upside-down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(-90deg);
}

.correct-words:last-child {
    animation-name: correct;
    animation-duration: 2s;
    animation-iteration-count: 1
}

.correct-words:last-child::after {
    content: "";
    animation-name: add-text;
    animation-duration: 2s;
    animation-iteration-count: 1
}

@keyframes correct {
    0% {color: green; font-weight: bold}
    100% {color: black; font-weight: normal}
}

@keyframes add-text {
    0% { content: " is a word"}
    100% { content: ""}
}